<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Привіт {{ name }}</h1>
<div class="container">
<form >
  Місто:<br>
  <input type="text" name="firstname" >
  <br>
  Рік народження:<br>
  <input type="text" name="lastname" >
  <br><br>
    hello
</form>
</div>
<style>
    body{
        background-color:silver;
    }
    h1{
        font-size: 30px;
        color : darkblue;
        padding-top: 142px;
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>
</body>
</html>